.center{
    
    display: block;
    border: cadetblue;
    border-width: 2px;
    border-style: groove;
    font-size: 25px;
    margin:  30px;
    padding: 20px;
}

.orderlist{

    color: chartreuse;

}

.unorderlist{
    color: blue;
}

li{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 